body{background-color: aqua;}
p{font-family: cursive;}
h3{
    font-family: fantasy;
    color:cornflowerblue;
  }
h1{
    font-family: fantasy;
    color:cornflowerblue
  }
img{width: 200px;
  float: right;
  border-style:dashed;
  border-color:blue;
  border-radius: 20px;}